.squer{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    float: left;
}
#playerPlayground{
    position: absolute;
    left:50%
}
.ship{
    margin: 10px;
}
.ship:hover{
    cursor: pointer;
}
#shipsMenu{
    position: absolute;
    left:40%
}
#playerPlayground{
    cursor: pointer;
}
body{
    background-color: antiquewhite;
}