.squer{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    float: left;
}
#playerPlayground{
    position: absolute;
    left:50%;
}
#computerPlayground{
    position: absolute;
    left: 5%;
}
.ship{
    margin: 10px;
}
.ship:hover{
    cursor: pointer;
}
#shipsMenu{
    position: absolute;
    left:40%
}
#playerPlayground{
    cursor: pointer;
}
body{
    background-color: antiquewhite;
}
#startGame{
    position: absolute;
    left: 40%;
    top: 60%;
    visibility: hidden;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: green;
}